<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
	<link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
		<%- include('../partials/header')%>
	<section id="cart">
    <div class="container">
      <div class="breadcum">
          <a href="/"><i class="fas fa-home"></i></a>
          <a href="/shop"> Carrito <i class="fas fa-angle-right"></i></a>
      </div>
      <div class="row main-cart" >
        <div class="col-md-7">
            <div class="buscador">
                <h3>¿Te olvidaste algo? ¡Buscá Rápido!</h3>
                <input type="text" placeholder="Ingresá SKU, nombre, marca">
                <i class="fas fa-search"></i>
            </div>
            <div class="list-container row">
              <!--item1-->
              <div class="list-item">
                <div class="col-md-3">
                    <img class="img-fluid" src="/images/haribo.jpg"/>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="col-md-5 detail-texto">
                    <h5>Gomitas Haribo Ositos de Oro</h5>
                    <p>Bolsa de gomitas multifruta</p>
                    <p class="detail-peso">142grs</p>
                    <p class="cantidad"> Cantidad</p>
                </div>
                <div class="col-md-4 numeros">
                    <i class="fas fa-trash-alt" ></i>
                    <p class="detail-precio">
                        <span>$ 77,80</span>
                           $68,80</p>
                    <div class="columna1 plus">
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="columna3">
                      <input type="number" value="1" maxlength="2"/>
                    </div>
                    <div class="columna1 minus">
                      <i class="fas fa-minus"></i>
                    </div>
                </div>
                </div>
              </div>
              
            </div>
        <!--columna derecha-->
        <div class="col-md-5">
          <div class="total col-md-12 p-4">
            <h3>Subtotal:</h3> 
            <div class="row">
            <div class="col-md-4 texto">
              <p>3 items</p>
              <p>Código promocional</p>
              <p>CP</p>
            </div>
            <div class="col-md-5 ">
             <p class="precio">$ 198,59</p>
             <input class="text-right form-control"  type="text" placeholder="Ejemplo XXYYZZ"/>
             <input class="text-right form-control" type="text" placeholder="Ejemplo 1640"/>
            </div>
           
            </div>
            <a href="" class="envio" >Estimar costos de envios</a>
          </div>
            <div class="columna">
                <a href="/" >
                  <div class="btn-comprar">Elegir medio de  pago</div></a>
              </div>
              <div class="columna"> 
              <a href="/productDetail" >
                <div class="more">Seguir comprando</div></a>
            </div>
          </div>
        </div>
      </div>

  </section>
  <%- include('../partials/footer')%>
  <%- include('../partials/scripts') %>
</body>
</html>