<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head')%>
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
	<%- include('../partials/header')%>
	  <div class="container-fluid">
		<section id="nuevoproducto">
		<div class="container ">
				<h1>Carga nuevos productos </h1>
				<small>En nueve simples pasos!</small>
		<div class="formulariosContainer">
		  <div class="columna6 formularios">
				<form action="productAdd" method="POST">	
					<%- include('./partials/productsForm')%>
					<div class="center columna6">
						<button class="btn-principal " type="submit">Cargar nuevo producto!</button>
					</div>
					</form>
				</div>
		</section>
		
		<%- include('../partials/footer')%>
	  </div>	  
</body>
</html>