<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head')%>
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
    <%- include('../partials/header')%>
		<section id="exito">
            <div class="formulariosContainer">
            <div class=" formularios col-md-4 text-center">
                <h2>¡Producto creado!</h2>
                <p>¿Desea cargas más productos?</p>
                <div class="row mx-auto d-block p-5">
                <a href="/" class="btn-secundario mr-3">
                    cancelar
                </a>
                <a href="productAdd" class="btn-principal">
                    Cargar más
                </a>
            </div>
            </div>
        </div>
        </section>
    <%- include('../partials/footer')%>
</div>	  
</body>
</html>