/* grilla*/
.container{
    padding: 2.5%;
    position: relative;
  }
  .container-fluid{
    margin: 0!important;
    padding: 0!important;
  }
  .columna1{
    width:10%;
    display: inline-block;
  }
  .columna2{
    width:20%;
    display: inline-block;
  }
  .columna3{
    width:30%;
    display: inline-block;
  }
  .columna4{
    width:40%;
    display: inline-block;
  }
  .columna5{
    width:50%;
    display: inline-block;
  }
  .columna6{
    width:60%;
    display: inline-block;
  }
  .columna7{
    width:70%;
    display: inline-block;
  }
  .columna8{
    width:80%;
    display: inline-block;
  }
  .columna9{
    width:90%;
    display: inline-block;
  }
  .columna{
    width:100%;
    display: inline-block;
  }
  
/*banner*/
#banner{
    margin-top:155px;
    margin-bottom: 50px;
    position: relative;
}
.banner-img{
    z-index: 0;
    width: 100%;
}
.banner-texto{
    z-index: 50;
    position: absolute;
    text-align: center;
    bottom: 30%;
    left: 30%;
}
.bajada{
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-weight: 400;
    margin: 0;
}
.titulo{
    background-color: #13CE66;
    color:#ffffff;
    padding: 5px;
    font-size: 40px;
    font-weight: 700;
}
.rojo{
    background-color: #D6101F;
    border-radius: 20px;
    padding: 10px 30px;
    color:#ffffff;
    font-size: 18px;
    border:none;
}
.lineas{
    background-image: url('/images/bg-lineas.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 35px;
}

/*Home Productos*/

.row{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: wrap;
}
.prod{
    text-align: center;
    margin-top:20px;
}
.prod img{
    max-width:250px;
}
.prod-nombre{
    font-size: 20px;
    font-weight: 400;
}
.main-precio{
    font-size: 25px;
    font-weight: 700;
}
.center{
    display:flex;
    margin: auto;
}
/*efecto sobre imagen de aparecer el boton*/
.prod-wrap{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.prod-wrap:hover .over{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.over{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    visibility: hidden;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-comprar{
    border-radius: 20px;
    padding: 15px;
    background-color: #FF6080;
    color:#ffffff;
    position: absolute;
    transition: .2s;
    transform: translateY(1em);
}