* {
  box-sizing: border-box;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  list-style: none;
}

a:hover{
  text-decoration: none!important;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

/* uso de la fuente 
font-family: 'Roboto', sans-serif; */

body {
  margin: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
/*header*/
header{
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('/images/bg-lineas.png');
  background-repeat: repeat-x;
  padding: 0 25px  ;
  height: 145px;
  overflow: hidden;
}
#logo{
  display: inline-block;
  position: relative;
  padding-top: 15px;
}
#logo img{
  max-height:70px ;
  width: auto;
  
}
#header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  float: right;
  margin: 0px; 
}
#header-menu i{
  text-align: center;
  display: block;
  color: #FF6080;
  font-size: 18px;
}
.align-between{
  display: flex;
}
.circulo{
  border-radius: 100%;
  border: solid 2px #FF6080;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  padding: 8px;
  margin: auto;
}
#header-menu li{
  margin: 0 20px;
}
#header-menu p{
  font-size: 12px;
  font-weight: 400;
  margin: 5px;
}
#main-menu {
  background-color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: center;
}
.sec-nav{
  margin-top:25px!important;
}

#main-menu ul{
  text-transform: uppercase;
  color:#777777;
  list-style: none;
  text-align: center;
  position: absolute;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
#main-menu ul a{
  color:#777777;
}
#main-menu li, #header-menu li{
  display: inline-block;

}
#main-menu li{
  margin:0 15px;
}
#main-menu i{
  color:#80E5D2;
  margin-left: 10px;
}


/*footer*/
footer{
  background-color: #80E5D2;
}
footer li{
  color:#ffffff;
  padding: 10px ;
}
footer a, footer i{
  color:#ffffff;
  text-decoration: none;
}
.container-footer{
  padding: 2.5%;
  position: relative;
}
.columna2{
  width:20%;
  display: inline-block;
}
/*Redes*/
#redes{
  background-color: #FDF5D0;
  margin-top: 30px;
  align-content: center;
  text-align: center;
  padding:30px;
}
#redes h3{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
}
#redes span{
  font-weight: 700;
  font-size: 25px;
}
.redes-container{
  display:inline-block;
  align-items: center;
}
.icon-redes{
  display: inline-block;
}
#redes i{
  color:#FF6080;
  font-size:30px;
}
.icon-fb, .icon-tw, .icon-in, .icon-yt  {
  border-radius: 100%;
  border: solid 2px #FF6080;
  background-color: #ffffff;
  margin: 5px;
  color: #FF6080;
  display:inline-block;
}
.icon-fb{
  padding: 18px 20px;
}
.icon-tw{
  padding: 18px 18px;
}
.icon-yt {
  padding: 18px;
}
.icon-in{
  padding: 18px 20px;
}
.icon{
  width:70px;
  height:70px;
}
/*globo del titulo*/

.main-titulo{
  position: relative;
  border:solid 2px #FF6080;
  padding: 10px 30px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.main-titulo:after,
.main-titulo:before {
  content: '';
  display: block;
  position: absolute;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
}
.main-titulo:after {
  bottom: -57px;
  border-color: #fff transparent transparent transparent ;
  border-width: 30px;
}

/* this border color controlls the outside, thin border */
.main-titulo:before {
  bottom:-60px;
  border-color: #FF6080 transparent transparent transparent ;
  border-width: 30px;
}
.main-titulo h2{
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 15px;
}
.btn-principal{
  border-radius: 10px;
  padding: 15px;
  background-color: #FF6080;
  color: #ffffff;
  text-align: center;
  margin:20px 0;
  text-transform: uppercase;
  width: 100%;
}
.btn-secundario{
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  color: #FF6080;
  border: solid 1px #FF6080;
  text-align: center;
  margin:20px 0;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}
.btn-nav-login{
  border-radius: 60px;
  padding: 10px;
  background-color: #FF6080;
  color: #ffffff;
  text-align: center;
  margin:20px 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
}
.btn-nav-register{
  border-radius: 60px;
  padding: 10px;
  background-color: #ffffff;
  color: #FF6080;
  border: solid 1px #FF6080;
  text-align: center;
  margin:20px 0;
  font-weight: 700; 
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.row{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: wrap;
}
.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-image{
  width: 38px;
  height: 38px;
  border-radius: 100%;
  border: solid 2px #FF6080;
  margin: auto;
}