* {
  box-sizing: border-box;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  list-style: none;
}

a:hover{
  text-decoration: none!important;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

/* uso de la fuente 
font-family: 'Roboto', sans-serif; */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0!important;
  margin-bottom: 250px!important;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
/*header*/
header{
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('/images/bg-lineas.png');
  background-repeat: repeat-x;
  padding: 0 25px  ;
  height: 145px;
  /*overflow: hidden;*/
}
#logo{
  display: inline-block;
  position: relative;
  padding-top: 15px;
}
#logo img{
  max-height:70px ;
  width: auto;
  
}
#header-menu {
  display: flex;
  padding-top:15px; 
  align-items: flex-start;
  list-style: none;
  float: right;
  margin: 0px; 
}
#header-menu i{
  text-align: center;
  display: block;
  color: #FF6080;
  font-size: 18px;
}
.align-between{
  display: flex;
}
.circulo{
  border-radius: 100%;
  border: solid 2px #FF6080;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  padding: 8px;
  margin: auto;
}
#header-menu li{
  margin: 0 20px;
}
#header-menu p{
  font-size: 12px;
  font-weight: 400;
  margin: 5px;
}
#main-menu {
  background-color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: center;
}
.sec-nav{
  margin-top:25px!important;
}

#main-menu ul{
  text-transform: uppercase;
  color:#777777;
  list-style: none;
  text-align: center;
  position: absolute;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
#main-menu ul a{
  color:#777777;
}
#main-menu li, #header-menu li{
  display: inline-block;

}
#main-menu li{
  margin:0 15px;
}
#main-menu i{
  color:#80E5D2;
  margin-left: 10px;
}


/*footer*/
footer{
  bottom: 0;
  height: 250px;
  background-color: #80E5D2;
  position: absolute;
  width: 100%;
}
footer img{
  vertical-align: super;
}
footer li{
  color:#ffffff;
  padding: 10px ;
}
footer a, footer i{
  color:#ffffff;
  text-decoration: none;
}
.container-footer{
  padding: 2.5%;
  position: relative;
}

/*Redes*/
#redes{
  background-color: #FDF5D0;
  margin-top: 30px;
  align-content: center;
  text-align: center;
  padding:30px;
}
#redes h3{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
}
#redes span{
  font-weight: 700;
  font-size: 25px;
}
.redes-container{
  display:inline-block;
  align-items: center;
}
.icon-redes{
  display: inline-block;
}
#redes i{
  color:#FF6080;
  font-size:30px;
}
.icon-fb, .icon-tw, .icon-in, .icon-yt  {
  border-radius: 100%;
  border: solid 2px #FF6080;
  background-color: #ffffff;
  margin: 5px;
  color: #FF6080;
  display:inline-block;
}
.icon-fb{
  padding: 18px 20px;
}
.icon-tw{
  padding: 18px 18px;
}
.icon-yt {
  padding: 18px;
}
.icon-in{
  padding: 18px 20px;
}
.icon{
  width:70px;
  height:70px;
}
/*globo del titulo*/

.main-titulo{
  position: relative;
  border:solid 2px #FF6080;
  padding: 10px 30px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.main-titulo:after,
.main-titulo:before {
  content: '';
  display: block;
  position: absolute;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
}
.main-titulo:after {
  bottom: -57px;
  border-color: #fff transparent transparent transparent ;
  border-width: 30px;
}

/* this border color controlls the outside, thin border */
.main-titulo:before {
  bottom:-60px;
  border-color: #FF6080 transparent transparent transparent ;
  border-width: 30px;
}
.main-titulo h2{
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 15px;
}
.btn-principal{
  border-radius: 10px;
  padding: 15px;
  background-color: #FF6080;
  color: #ffffff;
  text-align: center;
  margin:20px 0;
  text-transform: uppercase;
}
.btn-secundario{
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  color: #FF6080;
  border: solid 1px #FF6080;
  text-align: center;
  margin:20px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-principal:hover{
  color: #ffffff!important;
}

.btn-secundario:hover{
  color: #FF6080!important;
}
.btn-nav-login{
  border-radius: 60px;
  padding: 10px;
  background-color: #FF6080;
  color: #ffffff;
  text-align: center;
  margin:20px 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
}
.btn-nav-register{
  border-radius: 60px;
  padding: 10px;
  background-color: #ffffff;
  color: #FF6080;
  border: solid 1px #FF6080;
  text-align: center;
  margin:20px 0;
  font-weight: 700; 
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.btn-outline-secondary{
  border: #FF6080 2px solid!important;
  background-color: #ffffff!important;
  border-radius: 50px!important;
}
/* .row{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: wrap;
} */
.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-image{
  width: 38px;
  height: 38px;
  border-radius: 100%;
  margin: auto;
}
.btn-outline-secondary:hover, .show>.btn-outline-secondary.dropdown-toggle{
  color: #FF6080!important;
}
.show>.btn-outline-secondary.dropdown-toggle:focus, .btn-outline-secondary:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 96, 128, 0.3)!important;
}
.dropdown-item:active{
  background-color: #FF6080!important;
}
/*error 404*/
#error{
  margin-top: 150px;
}

/* mega dropdown*/
.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}