
 /*contenido*/
 #cart{
  padding-top: 150px;
 }
 .buscador h3{
  font-weight: 400;
 }
 .buscador input{
  width: 50%;
 }
 .buscador i{
  font-size: 20px;
 }
 .total{
  background-color: rgba(128, 229, 210, 0.2);
  padding:15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.main-cart{
  display: flex;
}
.detail-total{
    color:#ffffff;
    padding: 15px;
  }

 .precio{
     font-weight: 700;
     font-size: 18px;
     text-align: right;
 }
 input{
     padding:10px;
     border-radius: 8px;
     border:solid 1px #cecece;
 }
 .btn-comprar{
    border-radius: 10px;
    padding: 15px;
    background-color: #FF6080;
    color:#ffffff;
    text-align: center;
    margin-bottom:10px;
    text-transform: uppercase;
}
.btn-comprar a  {
    width: 100%;
}
 .more{
    color: #FF6080;
    text-decoration: underline;
    text-align: center;
    }
.list-container{
    padding: 15px;
}
.list-item{
  display: flex;
}
/* .list-item img{
    max-width: 145px;
    max-height: auto;
} */
.item-img {
  margin: 10px;
  position: relative;
}
.item-img i{
    position: absolute;
    color:#ffffff;
    top:10px;
    left: 10px;
    font-size: 20px;
}
.list-item i:hover{
    color:#FF6080;
    cursor: pointer;
}
.detail-texto h5{
  color:#FF6080;
}
.detail-peso{
    font-size: 18px
}
.detail-precio{
    font-size: 20px;
    color:#FF6080;
    font-weight: 700;
}
.detail-precio span{
    font-size: 20px;
    text-decoration: line-through;
    padding-right: 15px;
    font-weight: 400;
}
.numeros input{
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
}
::placeholder{
  color:#cecece;
}
.plus, .minus{
    text-align: center;
    margin: 0 10px;
}
.numeros{
text-align: right;
}
.numeros i{
  margin-top: 1em;
  font-size: 20px;
}
.cantidad{
  font-weight: 700;
}
.texto p{
  padding: 10px;
}
.text-right{
  text-align: right;
}
.envio{
  text-decoration: underline;
}