body {
    margin: 0;
    font-family: sans-serif;
  }
  
.container{
    position: relative;
    padding: 15%;
}
.fieldset{
    background-color: #d7dbdd;
    width: 100%;

}
.login-register{
    font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
   
    margin: 0!important;
    padding: 0!important;
  }
