<footer>
    <div class="container-fluid p-5 ">
      <div class="row">
      <div class="col-md-2">
        <a href="/">
        <img src="/images/logo.png" alt="logo" />
      </a>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Shop</a></li>
          <li><a href="/inConstruction">Fiestas Tematicas</a></li>
        </ul>
      </div>
      <div class="col-md-2">
          <ul>
              <li><a href="/inConstruction">Colores</a></li>
              <li><a href="/inConstruction">Privacidad </a></li>
              <li><a href="/inConstruction">FAQs </a></li>
            </ul>
      </div>
      <div class="col-md-3">
          <ul>
              <li><a href="/inConstruction">Contactanos</a></li>
              <li> <i class="fas fa-phone"></i> 5555-5555</li>
              <li><i class="fas fa-envelope"></i> <a href="mailto:info@candylife.com.ar">info@candylife.com.ar</a></li>
            </ul>
      </div>
    </div>
  </div>
  </footer>