<footer>
    <div class="container">
      <div class="columna2">
        <a href="/">
        <img src="/images/logo.png" alt="logo" />
      </a>
      </div>
      <div class="columna2">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Shop</a></li>
          <li><a href="tematic">Fiestas Tematicas</a></li>
        </ul>
      </div>
      <div class="columna2">
          <ul>
              <li><a href="/colors">Colores</a></li>
              <li><a href="/privacy">Privacidad </a></li>
              <li><a href="/faqs">FAQs </a></li>
            </ul>
      </div>
      <div class="columna2">
          <ul>
              <li><a href="/contact">Contactanos</a></li>
              <li> <i class="fas fa-phone"></i> 5555-5555</li>
              <li><i class="fas fa-envelope"></i> <a href="mailto:info@candylife.com.ar">info@candylife.com.ar</a></li>
            </ul>
      </div>
    </div>
  </footer>