<header>
  <div class="wrap">
    <a href="/"><div id="logo"> <img src="/images/logo.png" /></div></a>
    <%- include('./main-nav') %>
  </div>
  <nav id="main-menu">
  <ul class="sec-nav">
    <li>
      <a href="/products">Shop<i class="fas fa-angle-down"></i></a>
    </li>
    <li>
      <a href="/inConstruction">Fiestas tematicas<i class="fas fa-angle-down"></i>    
      </a>
    </li>
    <li>
      <a href="/inConstruction">Colores <i class="fas fa-angle-down"></i></a>
    </li>
    <li>
      <a href="/inConstruction">Regala Candy life</a>
    </li>
    </ul>
  </nav>
</header>