<header>
    <a href="/"><div id="logo"> <img src="/images/logo.png" /></div></a>
    <ul id="header-menu">
    <li>
      <a href="/contact">
        <div class="circulo"><i class="fas fa-comments"></i></div>
        <p>Contacto</p>
      </a>
    </li>
    <li>
      <a href="/wishlist">
        <div class="circulo">
          <i class="fas fa-heart"></i>
        </div>
        <p>wishlist</p>
      </a>
    </li>
    <li>
      <a href="/productCart">
        <div class="circulo">
        <i class="fas fa-shopping-cart"></i>
        </div>
        <p>carrito</p>
      </a>
    </li>
    <li>
      <a href="/login">
        <div class="circulo">
        <i class="fas fa-user"></i>
        </div>
        <p>Iniciar sesion</p>
      </a>
    </li>
  </ul>
  <nav id="main-menu">
  <ul>
    <li>
      <a href="products">Shop<i class="fas fa-angle-down"></i></a>
    </li>
    <li>
      <a href="/tematic">Fiestas tematicas<i class="fas fa-angle-down"></i>    
      </a>
    </li>
    <li>
      <a href="/colors">Colores <i class="fas fa-angle-down"></i></a>
    </li>
    <li>
      <a href="/gifts">Regala Candy life</a>
    </li>
    </ul>
  </nav>
</header>