<ul id="header-menu">
    <li>
      <a href="/inConstruction">
        <div class="circulo"><i class="fas fa-comments"></i></div>
        <p>Contacto</p>
      </a>
    </li>
    <li>
      <a href="/inConstruction">
        <div class="circulo">
          <i class="fas fa-heart"></i>
        </div>
        <p>wishlist</p>
      </a>
    </li>
    <li>
      <a href="/products/productCart">
        <div class="circulo">
        <i class="fas fa-shopping-cart"></i>
        </div>
        <p>carrito</p>
      </a>
    </li>

    <% if(isAuthenticated) { %>
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="user-image" src="/images/users/<%= user.src %>" alt="<%= user.name %>">  <%= user.name %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/users/profile">Perfil</a>
          <a class="dropdown-item" href="/users/logout">Cerrar sesion</a>
        </div>
      </div>
    <% } else { %>
        <li>
            <a href="/users/login">
              <div class="btn-nav-login">  Iniciar sesion</div>
             
            </a>
          </li>
        <li>
            <a href="/users/register">
              <div class="btn-nav-register"> Registrarse</div>
            </a>
          </li>
    <% } %>
  </ul>