<section id="redes">
    <div class="container">
        <h3 class="columna">
            ¡Pertenece a la comunidad de <span>Candy-Life!</span>
        </h3>
        <div class="redes-container">
          <a href="https://www.facebook.com/" target="_blank">
            <div class="icon icon-fb"><i class="fab fa-facebook-f"></i></div>
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <div class="icon icon-tw"><i class="fab fa-twitter"></i></div>
          </a>
          <a href="https://www.youtube.com/" target="_blank">
            <div class="icon icon-yt"><i class="fab fa-youtube"></i></div>
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <div class="icon icon-in"><i class="fab fa-instagram"></i></div>
          </a>          
      </div>
    </div>
  </section>