<div>
<div>
    <label> Nombre <small class="requerido" >*</small></label>
    <input type="text" name="name" class="form-control " placeholder="Ingrese su nombre" data-name="nombre">
    <div class="invalid-feedback"> </div>
</div>
<div>
    <label > Apellido <small class="requerido" >*</small>
    </label>
    <input type="text" name="lastname" class="form-control " placeholder="Ej: Pérez" data-name="apellido">
    <div class="invalid-feedback"> </div>
</div>
<div>
    <label > Domicilio</label>
    <input name="address" type="text" class="form-control " placeholder="Ingrese su domicilio" data-name="domicilio">
    <div class="invalid-feedback"> </div>
</div>
<div>
    <label class= "login label" for="login-email"> E-mail
    <small class="requerido" >*</small>
    </label>
    <input type="email" name="email" class="form-control " placeholder="tunombre@email.com" data-name="email">
    <div class="invalid-feedback"> </div>
</div>
<div>
    <label > Contraseña <small class="requerido" >*</small>
    </label>
    <input type="password" name="password" class="form-control" placeholder="Contraseña" data-name="contraseña">
    <div class="invalid-feedback"> </div>
</div>
<div>
    <label class="login label" for="login-pass"> Confirmar contraseña
    <small class="requerido" >*</small>
    </label>
    <input type="password" name="rePassword" class="form-control address" placeholder="Repita la contraseña" data-name="avatar">
    <div class="invalid-feedback"> </div>
</div>
<div>
    <label> Avatar</label>
    <input type="file" name="src" data-name="imagen" multiple>
    <div class="invalid-feedback"> </div>
</div>
</div>