<div>
<div>
    <label> Nombre <small class="requerido" >*</small></label>
    <input type="text" name="name" placeholder="Ingrese su nombre" />
</div>
<div>
    <label > Apellido <small class="requerido" >*</small>
    </label>
    <input type="text" name="lastname" placeholder="Ej: Pérez" />
</div>
<div>
    <label > Domicilio</label>
    <input name="adress" type="text" placeholder="Ingrese su domicilio" />
</div>
<div>
    <label class= "login label" for="login-email"> E-mail
    <small class="requerido" >*</small>
    </label>
    <input type="email" name="email" placeholder="tunombre@email.com" />
</div>
<div>
    <label > Contraseña <small class="requerido" >*</small>
    </label>
    <input type="password" name="password" placeholder="Contraseña" />
</div>
<div>
    <label class="login label" for="login-pass"> Confirmar contraseña
    <small class="requerido" >*</small>
    </label>
    <input type="password" name="rePassword" placeholder="Repita la contraseña" />
</div>
<div>
    <label> Avatar</label>
    <input type="file" name="src" multiple />
</div>
</div>