<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
	<link rel="stylesheet" href="/css/register.css">
</head>
<body>
	<%- include('../partials/header') %>
  <div class="container-fluid">
	<section id="login-registro">
    <div class="container ">
			<h2>Log in </h2>
      <div class="columna formulariosContainer">
			<div class="columna4 formularios">
				<form id="login" action="login" method="POST">
					<h2 class="login-title">Clientes Candy Life</h2>		
						<small class="login-required"> Campos requeridos 
							<span class="login-register-login-form-required">*
							</span></small>  	
		
					<div >
						<label> E-mail <small class= "login campo requerido" >*	</small>
						</label>
					</div>
					<div class= "login control" data-valition = "control">
						<input autofocus type="email" name="email" placeholder="tunombre@email.com">
						<P data-valition-error="block"> <small class = requerido>
								El E-mail es un campo requerido
						</small> 
						</P>
					</div>
		
					<div>
						<label> Contrase単a <small class="requerido" >*</small></label>
						<div class="login control">
							<input name="password" type="password"  placeholder="Contrase単a">
										<small class=requerido>
										La contrase単a es un campo requerido
									</small>
						</div>
					</div>
	
					<div class="btn-login">
						<button type="submit" class="btn-principal btn-login" > Log in</button>
						<a class="login-register-olvido" >Olvidaste tu contrase単a?</a>
				</div>
				<a href="register">No tenes usuario, registrate aca</a>
			</form>
			</div>
			
			</div>
    </section>
  
	<%- include('../partials/redes') %>
	<%- include('../partials/footer') %>
</div>
</body>
</html>