<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
</head>
<body>
<%- include('./partials/header')%>
<section id="construccion" class="pb-5">

  <div class="container text-center">
    <h2 class="pt-5">Sitio en construcción<br> disculpe las molestias</h2>
    <div class="working">
      <i class="fas fa-hard-hat"></i>
    </div>
  </div>
</section>

<%- include('./partials/footer')%>
</body>
</html>