<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<%- include('./partials/header')%>
<section>
    <h2>Sitio en construcción, disculpe las molestias</h2>
</section>
<%- include('./partials/footer')%>
</body>
</html>