<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
	<header>
				<div id="logo"> <img src="/images/logo.png" /></div>
				<ul id="header-menu">
					<li>
			  <a href="/contact">
				<div class="circulo"><i class="fas fa-comments"></i></div>
				<p>Contacto</p>
			  </a>
			</li>
					<li>
				<a href="/wishlist">
				<div class="circulo">
					<i class="fas fa-heart"></i>
				</div>
			  <p>wishlist</p>
			</li>
					<li>
			  <a href="/productCart">
				<div class="circulo">
				<i class="fas fa-shopping-cart"></i>
				</div>
			  <p>carrito</p>
			  </a>
			</li>
					<li>
			  <a href="/register">
				<div class="circulo">
				  <i class="fas fa-user"></i>
				</div>
				<p>Iniciar sesion</p>
			  </a>
			</li>
		  </ul>
			  <nav id="main-menu">
				  <ul>
					<li>
					  <a href="products">
						Shop 
						<i class="fas fa-angle-down"></i>
					  </a>
					</li>
					<li>
					  <a href="/tematic">
						  Fiestas tematicas  <i class="fas fa-angle-down"></i>    
						</a>
					  </li>
					  <li>
						<a href="/colors">
						  Colores 
						  <i class="fas fa-angle-down"></i>
						</a>
					  </li>
					  <li>
						<a href="/gifts">
						  Regala Candy life
						</a>
					  </li>
				  </ul>
				</nav>
	</header>
	  <div class="container-fluid">
		<section id="nuevoproducto">
		<div class="container ">
				<h1>Carga nuevos productos </h1>
				<small>En nueve simples pasos!</small>
			
		  <div class="columna3 center">
				<fieldset class = "fieldset">	
	 				
						<div class = "cargaproducto" data-valition="control group" >
							<label class= "login label" for="login-email"> 1.  Nombre del producto / Titulo
								<small class = "login campo requerido" >*
								</small>
							</label>
						</div>
						<div class = "login control" data-valition = "control">
							<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
						</div>
			
						<div class = "cargaproducto" data-valition="control group" >
								<label class= "login label" for="login-email"> 2.  Marca
									<small class = "login campo requerido" >*
									</small>
								</label>
							</div>
							<div class = "login control" data-valition = "control">
								<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
							</div>
							<div class = "cargaproducto" data-valition="control group" >
									<label class= "login label" for="login-email"> 3.  Categoría/s
										<small class = "login campo requerido" >*
										</small>
									</label>
								</div>
								<div class = "login control" data-valition = "control">
									<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
								</div>
								<div class = "cargaproducto" data-valition="control group" >
										<label class= "login label" for="login-email"> 4.  Detalle
											<small class = "login campo requerido" >*
											</small>
										</label>
									</div>
									<div class = "login control" data-valition = "control">
										<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
									</div>					
				
									<div class = "cargaproducto" data-valition="control group" >
											<label class= "login label" for="login-email"> 5.  Información nutricional
											</label>
										</div>
										<div class = "login control" data-valition = "control">
											<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
										</div>					
				
			
										<div class = "cargaproducto" data-valition="control group" >
												<label class= "login label" for="login-email"> 6.  Tamaño/Gramaje/Kgs
														<small class = "login campo requerido" >*
															</small>
												</label>
											</div>
											<div class = "login control" data-valition = "control">
												<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
											</div>
									<div class = "cargaproducto" data-valition="control group" >
													<label class= "login label" for="login-email"> 7.  Precio de lista
															<small class = "login campo requerido" >*
																</small>
													</label>
												</div>
									<div class = "login control" data-valition = "control">
										<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
										</div>
										<div class = "cargaproducto" data-valition="control group" >
											<label class= "login label" for="login-email"> 8.  Precio promocional
												</label>
												</div>
												<div class = "login control" data-valition = "control">
												<input autofocus type = "email" type="email" id = "login-email" class= "login imput" >
													</div>					
									<div class = "cargaproducto" data-valition="control group" >
										<label class= "login label" for="login-email"> 9.  Adjuntar imágenes
												<small class = "login campo requerido" >*
													</small>
										</label>
												</div>
												<div class = "login control" data-valition = "control">
														<button type = "submit" class ="login-register-login-submit" data-action = "register button" > Adjuntar imágenes
															</button>
										<h2></h2>
													<button type = "submit" class ="login-register-login-submit" data-action = "register button" > Cargar producto!
								</button>
								<h1></h1>
								<small class="login-register-login-required"> Campos requeridos 
										<span class="login-register-login-form-required">*
										</span>
									</small> 
							</div>
										
				</fieldset>
		  </div>
		  
		</section>
	  <section id="redes">
		<div class="container">
			<h3 class="columna">
				¡Pertenece a la comunidad de <span>Candy-Life!</span>
			</h3>
			<div class="redes-container">
			  <a href="https://www.facebook.com/" target="_blank">
				<div class="icon icon-fb"><i class="fab fa-facebook-f"></i></div>
			  </a>
			  <a href="https://www.twitter.com/" target="_blank">
				<div class="icon icon-tw"><i class="fab fa-twitter"></i></div>
			  </a>
			  <a href="https://www.youtube.com/" target="_blank">
				<div class="icon icon-yt"><i class="fab fa-youtube"></i></div>
			  </a>
			  <a href="https://www.instagram.com/" target="_blank">
				<div class="icon icon-in"><i class="fab fa-instagram"></i></div>
			  </a>          
		  </div>
		</div>
	
	  </section>
		<footer>
		<div class="container">
		  <div class="columna2">
			<a href="/">
			<img src="/images/logo.png" alt="logo" />
		  </a>
		  </div>
		  <div class="columna2">
			<ul>
			  <li><a href="/">Inicio</a></li>
			  <li><a href="/products">Shop</a></li>
			  <li><a href="tematic">Fiestas Tematicas</a></li>
			</ul>
		  </div>
		  <div class="columna2">
			  <ul>
				  <li><a href="/colors">Colores</a></li>
				  <li><a href="/privacy">Privacidad </a></li>
				  <li><a href="/faqs">FAQs </a></li>
				</ul>
		  </div>
		  <div class="columna2">
			  <ul>
				  <li><a href="/contact">Contactanos</a></li>
				  <li> <i class="fas fa-phone"></i> 5555-5555</li>
				  <li><i class="fas fa-envelope"></i> <a href="mailto:info@candylife.com.ar">info@candylife.com.ar</a></li>
				</ul>
		  </div>
		</div>
	  </footer>
	</div>
</body>
</html>