<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head')%>
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
	<%- include('./partials/header')%>
	  <div class="container-fluid">
		<section id="nuevoproducto">
		<div class="container ">
				<h1>Editar mis productos </h1>
		<div class="formulariosContainer">
		  <div class="columna4 formularios">
				<form action="/productos/crear" method="POST">	
					<%- include('./partials/productsForm')%>
					<button class="btn-principal" type="submit">Editar producto!</button>
					</form>
				</div>
		</section>
		
		<%- include('./partials/footer')%>
	  </div>	  
</body>
</html>
