<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head')%>
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
	<%- include('./partials/header')%>
	  <div class="container-fluid">
		<section id="nuevoproducto">
		<div class="container ">
				<h1>Carga nuevos productos </h1>
				<small>En nueve simples pasos!</small>
		<div class="formulariosContainer">
		  <div class="columna4 formularios">
				<form action="/productAdd" method="POST">	
					<form action="/productos/crear" method="POST">
						<div>
							<label>Nombre del producto:</label>
							<input type="text" name="prodNombre">
						</div>
						<div>
							<label>Marca del producto:</label>
							<input type="text" name="marca">
						</div>
						<div>
							<label>Categoría del producto:</label>
							<input type="text" name="categoria">
						</div>
						<div>
							<label>Detalle del producto:</label>
							<input type="text" name="detalle">
						</div>
						<div>
							<label>Informacion nutricional:</label>
							<input type="text" name="nutricional">
						</div>
						<div>
							<label>Tamaño/gramaje/Kgs:</label>
							<input type="number" name="gramaje">
						</div>
						
						<div>
							<label>Precio del producto:</label>
							<input type="text" name="mainPrecio">
						</div>
						<div>
							<label>Precio promocional:</label>
							<input type="number" name="discount-precio">
						</div>
						
						<div>
							<label>Adjuntar imagenes:</label>
							<input type="file" name="img" multiple>
						</div>
						<button class="btn-principal" type="submit">Cargar nuevo producto!</button>
					</form>
				</div>
		</section>
		
		<%- include('./partials/footer')%>
	  </div>	  
</body>
</html>