<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head')%>
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
    <%- include('./partials/header')%>
		<section id="exito">
            <div class="formulariosContainer">
            <div class=" formularios">
                <h2>¡Producto creado!</h2>
                <p>¿Desea cargas más productos?</p>
                <button href="productsAdd" class="btn-principal">
                    Volver
                </button>
            </div>
        </div>
        </section>
    <%- include('./partials/footer')%>
</div>	  
</body>
</html>